{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="container">
    {% for product in products %}
        <div class="product card"> 
            <img class="card-img-top imgage-product" src="{{ product.getImage() }}" alt="Card image cap" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ product.nom }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.prix|number_format(2, ',', ' ') }} {{ 'app.default.currency'|trans }}</h6>
                <p class="card-text">
                    {{ product.description }}
                </p>
                <a href="{{ path('productView', {'slug' : product.getSlug()}) }}" class="btn btn-primary">{{ 'app.btn.see_product'|trans }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
