<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="{{ path('home') }}">{{ 'app.btn.home' |trans }}</a>
            {% block cart %}
            <div class="cart">
                <div>
                    {{ 'app.cart.nb_products'|trans }} {{ cart.getNumberItems() }}
                </div>
                <div>
                    {{ 'app.cart.total_cost'|trans }} {{ cart.getPriceCart() }}
                </div>
                <div>
                    <a href="{{ path('cart') }}">{{ 'app.btn.see_cart'|trans }}</a>
                </div>
            </div>
            {% endblock %}

            <ul class="text-right">
                {{ i18n_links() }}
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
